/* .link   {
    
}


.finding-button {

} */

.findMe-select {
  min-height: 80px;
  border: none;
  min-width: 1000px;
  overflow: hidden;
}
.findMe-select::-moz-focus-inner {
  border: 0;
}
.findMe-select:focus {
  outline: none;
}

.findMe-option-thicc {
  width: 200px;
  font-size: 1em;
  padding: 30px 10px;
  /* text-align: center; */
  margin-right: 40px;
  margin-bottom: 20px;
  /* display: inline-flex; */
  cursor: pointer;
  border:rgb(0, 0, 0) solid 1px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: white;
}

.option-selected {
  background-color: #3b4acf;
  color: white;

}

.hover-effect:hover {
  background-color: #222c85;
}

.hover-effect-grey:hover {
  background-color: lightgrey;
}

.cursor-pointer:hover {
  cursor: pointer;
}